<launch>
     <!-- ROS navigation stack move_base -->
     <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_global_planner" value="navfn/NavfnROS"/>
        <rosparam file="$(find costmap_2d)/launch/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find costmap_2d)/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find costmap_2d)/launch/local_costmap_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find costmap_2d)/launch/global_costmap_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find costmap_2d)/launch/base_local_planner_params.yaml" command="load" />

     </node>
</launch>
